* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: sans-serif;
  background: rgb(172, 215, 252);
  color: rgb(36, 38, 41);
}

#title {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.container {
  margin: auto;
  width: 80%;
  padding-top: 50px;
  text-align: center;
}

#tip {
  font-size: 1.5rem;
  color: red;
}

#begin-message {
  color: rgb(255, 0, 0);
}
.guess-container {
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 10px;
}

.user-guesses,
.computer-guesses {
  padding: 50px;
}

input {
  margin: 30px 0;
}

#result {
  text-transform: uppercase;
  padding: 100px;
  font-size: 5.5rem;
  color: rgb(3, 3, 2);
}

.hidden {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal {
  background-color: #c7ebf1;
  margin: 300px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 700px;
  border-radius: 15px;
  position: relative;
}

button,
input[type="button"] {
  cursor: pointer;
}

input,
button,
select {
  padding: 4px 8px;
}

#close {
  color: red;
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}

#play-again-btn {
  color: rgb(252, 227, 227);
  background-color: rgb(230, 54, 54);
  padding: 8px 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

#play-again-btn:hover {
  opacity: 0.9;
}

#play-again-btn:active {
  opacity: 0.7;
}
